.topbar {
  width: 100%;
  height: 64px;
  background: #0d1628;
  border-bottom: 2px solid #111;
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 0 20px;
}

/* CAIXAS */
.tb-box {
  background: #111;
  border-radius: 6px;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 160px;
  height: 52px;
}

.tb-label {
  color: #d6d6d6;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.tb-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* IMAGENS */
.tb-title-img {
  height: 20px;
  object-fit: contain;
}

.tb-mini {
  height: 22px;
  object-fit: contain;
}

.tb-small-btn {
  height: 18px;
  object-fit: contain;
}

.tb-big-btn {
  height: 42px;
  object-fit: contain;
}

/* SEPARADOR DIAMANTE */
.tb-sep {
  height: 18px;
  object-fit: contain;
  filter: drop-shadow(0 0 3px #000);
}

/* ÍCONE USUÁRIO */
.tb-user-area {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.tb-user {
  font-size: 28px;
  color: white;
}
